{% extends "_base.html" %}

{% block content %}
    {% if not repositories %}
        No results for "{{ query_string }}""
    {% else %}
        <h1>Results for "{{ query_string }}"</h1>
        {% for repository in repositories %}
            <h2>{{loop.index}}. {{ repository.name }}</h2>
            <h3> Created {{ repository.created_at.strftime('%Y-%m-%d') }}</h3>
            <a href="{{repository.html_url}}"><img src="{{ repository.avatar_url }}" alt="avatar" height="42" width="42"/></a>
            {{ repository.owner_login }}
            <h3>LastCommit</h3>
            {{ repository.sha }} {{ repository.commit_message }}  {{ repository.commit_author_name }}
            <hr/>
        {% endfor %}
    {% endif %}

{% endblock %}