<!--DOCTYPE html>
<html>
<head>
    <title>Github Navigator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        .container {
            max-width: 500px;
            padding-top: 20px;
        }
        input {
            max-width: 250px;
        }
        .avatar {
            max-width: 150px;
        }
    </style>
</head>
<body-->
{% extends "_base.html" %}

{% block content %}
    here
{% endblock %}